/*
:root[data-theme="light"] {
    --text: #1a1a0e;
    --background: #fdfdfb;
    --primary: #ffb400;
    --secondary: #39a5f7;
    --accent: #011638;
}
:root[data-theme="dark"] {
    --text: #f1f1e4;
    --background: #030302;
    --primary: #ffb300;
    --secondary: #0873c4;
    --accent: #c8ddfe;
}
*/
    :root {
      --text: #1a1a0e;
      --background: #fdfdfb;
      --background-50: #d1d1cf;
      --primary: #ffb400;
      --secondary: #39a5f7;
      --accent: #011638;
      --border: #818181;
      --footer: #000206;
    }
